body {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    background-color:#101a25;
    color:#fff;
}
#contact_form_wrap {
	margin:0 auto;
	margin-top:50px;
	padding:10px;
	width:350px;
}
.message {
	font-weight:bold;
}
.errors {
   	color:#af1010;
}
label {
    font-weight:bold;
}
.textfield {
    padding:5px 0 0 3px;
    width:297px;
    height:20px;
    border: 1px solid #e9e9e9;
    background-color:#303942;
    color:#fff;
}
.textarea {
    padding:3px;
    width:294px;
    height:144px;
    border: 1px solid #e9e9e9;
    background-color:#303942;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#fff;
}
.button {
    padding:3px 0 5px 0;
    width:75px;
    height:25px;
    border: none;
    background-color:#303942;
    font-weight:bold;
    cursor:pointer;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
.button:hover {
    background-color:#f1f1f1;
    color: #333;
}
table {
	margin: 80px auto;
}
table,th,td {
	border: 1px #E9E9E9 solid;
}